@use "../../styles/partials/global" as *;
@use "../../styles/partials/typograph" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixing" as *;

form {
	padding-top: 3.125rem;
	padding: 0.75rem;
	padding-left: 1.125rem;
	@include tablet {
		padding-left: 2rem;
	}
	@include desktop {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 90%;
		padding-left: 12.5rem;
	}
}

.form-label {
	display: flex;
	padding-bottom: 1.25rem;
	padding-top: 1rem;
	border-color: $primary-colorPistachio;
	font-family: "Outfit";
	font-weight: 500;
	font-size: 1.3rem;
	@include tablet {
		font-size: 1.7rem;
	}
}

.form-input {
	width: 95%;
	border-radius: 0.625rem;
	height: 2.5rem;
	background-color: $secondary-colorWhite;
	font-family: "Outfit";
	border-color: $secondary-colorSeaGreen;
}

.form-textarea {
	width: 95%;
	height: 6.5rem;
	border-radius: 0.75rem;
	background-color: $secondary-colorWhite;
	border-color: $secondary-colorSeaGreen;
}
.form-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 1rem;
	padding-top: 1.875rem;
}

.form-button__content {
	background-color: $primary-colorForestGreen;
	color: $secondary-colorWhite;
	padding: 15px 30px 15px 30px;
	font-size: 1.2rem;
	@include tablet {
		font-size: 1.6rem;
		padding: 15px 40px;
		border-radius: 15px;
	}
}

// padding:10px 5px 15px 20px;
// top padding is 10px
// right padding is 5px
// bottom padding is 15px
// left padding is 20px
