@font-face {
	font-family: "Newsreader-Light";
	src: url("../../assets/fonts/Newsreader-Light.woff") format("woff"),
		url("../../assets/fonts/Newsreader-Light.woff2") format(woff2);
}

@font-face {
	font-family: "Newsreader-LightItalic";
	src: url("../../assets/fonts/Newsreader-LightItalic.woff") format("woff"),
		url("../../assets/fonts/Newsreader-LightItalic.woff2") format(woff2);
}

@font-face {
	font-family: "Newsreader-Regular";
	src: url("../../assets/fonts/Newsreader-Regular.woff") format(woff),
		url("../../assets/fonts/Newsreader-Regular.woff2") format(woff2);
}

@font-face {
	font-family: "Outfit-Light";
	src: url("../../assets/fonts/Outfit-Light.woff") format(woff),
		url("../../assets/fonts/Outfit-Light.woff2") format(woff2);
}

@font-face {
	font-family: "Outfit-Medium";
	src: url("../../assets/fonts/Outfit-Medium.woff") format(woff),
		url("../../assets/fonts/Outfit-Medium.woff2") format(woff2);
}
