$primary-colorBlack: #0c1e1a;
$primary-colorForestGreen: #1e6655;
$primary-colorPistachio: #effaf7;
$secondary-colorSeaGreen: #b7cec9;
$secondary-colorSage: #e4efec;
$secondary-colorWhite: #ffffff;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$mobile-breakpoint: 320px;
