@use "../../styles/partials/variables";
@use "../../styles/partials/global";
@use "../../styles/partials/typograph";
@use "../../styles/partials/mixing";

.snaps-logo {
	display: flex;
	color: #0c1e1a;
	font-size: 32px;
	line-height: 32px;
	font-weight: 400;
	margin: 0%;
	padding-top: 20px;
}
