@use "../../styles/partials/variables";
@use "../../styles/partials/global";
@use "../../styles/partials/typograph";
@use "../../styles/partials/mixing";

.snaps-logo {
	display: flex;
	color: #0c1e1a;
	font-size: 3.125rem;
	line-height: 32px;
	font-weight: 500;
	margin: 0%;
	padding-top: 1.25rem;
	font-family: "Newsreader";
}
