@use "../../styles/partials/mixing" as *;
@use "../../styles/partials/typograph" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.snaps-logo {
	display: flex;
	color: #0c1e1a;
	font-size: 3.125rem;
	line-height: 32px;
	font-weight: 500;
	margin: 0%;
	padding-top: 1.25rem;
	font-family: "Newsreader";
	@include tablet {
		font-size: 4rem;
	}
}
