@use "../../styles/partials/mixing" as *;
@use "../../styles/partials/typograph" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.filter-drawer__content {
	padding-left: 10px;
	background-color: #e4efec;

	& button {
		margin: 3px;
		border: 2px solid #49675a;
		color: #49675a;
		font-weight: 700;
		background-color: #ffffff;
	}
	& .selected {
		background-color: #1e6655;
		color: #ffffff;
	}
}

.filter-drawer {
	@include desktop {
		position: absolute;
		right: 0;
		width: 40%;
		// height: 100%;
		background-color: #e4efec;
		box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s ease-in-out;
		margin-bottom: 37.5rem;
	}
	&.open {
		@include desktop {
		}
	}

	.filter-drawer__content {
		@include desktop {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			padding: 20px;
			height: 100%;
			margin-bottom: 18.75rem;
		}
	}
}

.filter-drawer__headers {
	display: none;
	@include desktop {
		display: flex;
		padding-left: 1.25rem;
		font-family: "Outfit";
		font-weight: 500;
		font-size: 2.5rem;
		padding-bottom: 0.75rem;
	}
}

.filter-drawer__header {
	font-family: "Outfit";
	font-weight: 500;
	padding-left: 0.75rem;
	padding-top: 1.25rem;
	font-size: 1.875rem;
	@include desktop {
		display: none;
	}
}
