@use "./styles/partials/mixing" as *;
@use "./styles/partials/typograph" as *;
@use "./styles/partials/variables" as *;

body {
	background-color: $primary-colorPistachio;
	box-sizing: border-box;
	width: 100%;
}

.filter-cta {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-right: 1.25rem;
	padding-left: 1.25rem;
	@include flex-position;
	font-family: "Outfit";

	@include tablet {
		padding-top: 0.6875rem;
		padding-bottom: 0.6875rem;
		padding-right: 1.375rem;
		padding-left: 1.375rem;
	}
}

.filter-cta.active {
	background-color: $primary-colorForestGreen;
	color: $secondary-colorWhite;
}

button {
	border-color: $primary-colorForestGreen;
	background-color: $secondary-colorWhite;
	font-family: "Outfit";
}

button.filter-cta {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 20px;
	border: 3px solid $primary-colorForestGreen;
	color: $primary-colorForestGreen;
	font-family: "Outfit";
	font-weight: 500;
}

img.filter-cta.active {
	color: $secondary-colorWhite;
}
.filter-drawer {
	padding-top: 1.25rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 2.5rem;
	padding-bottom: 0.9375rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.photo-gallery-wrapper {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
	transition: all 0.3s ease;
	width: 100%;
}
.is-filter-open {
	@include desktop {
		width: 60%;
	}
}

.app-container.is-filter-open .photo-gallery__item {
	@include desktop {
		flex: 1 1 50%;
	}
}
